<%= content_for :title do %>
	<h2><%= t('venue') %> </h2>
<% end %>
<div class="clearfix">
	<div class="two-thirds column alpha">
		<p><h5><%= raw t("takeplace") %> </h5></p>
		<p><h5><%= raw t("room_rates")%></h5></p>
	</div>
</div>
<div class="clearfix">
	<div class="one-third column alpha">
		<%= image_tag "/photos/hotel/novotel_1.jpeg" %>
	</div>
	<div class="one-third column omega">
		<%= image_tag "/photos/hotel/novotel_2.jpg" %>
	</div>
	<div class="one-third column omega">
		<%= image_tag "/images/chambre.jpg" %>
	</div>
</div>
<div class="clearfix">
	<div class="one-third column alpha">
		<h3 class="title"><span class="icon-globe sz-m"></span>Contact:</h3>
    
    	<p><strong> 6 rue Fort Niedergrünewald<br />
			Quartier Européen Nord<br />
			Plateau de Kirchberg<br />
			L-2226 LUXEMBOURG<br />
			LUXEMBOURG</strong></p>
<!--    
        <span class="icon-phone-squared sz-xs" ></span><strong>Tel</strong>:(+352)4298481<br/>
        <span class="icon-print sz-xs" ></span><strong>Fax:</strong> (+352)438658<br/>
        <span class="icon-mail sz-xs" ></span><strong>Email:</strong> H1930<span>@</span>accor.com<br/>
-->
	</div>
	<div class="two-thirds column omega">
		<h3 class="title"><span class="icon-map sz-m"></span>Access Map:</h3>
		<iframe width="550" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?ie=UTF8&amp;cid=6550616703043663128&amp;q=Novotel+Luxembourg+Kirchberg&amp;gl=FR&amp;hl=fr&amp;hq=Novotel+Luxembourg+Kirchberg&amp;hnear=&amp;t=m&amp;ll=49.620914,6.145477&amp;spn=0.007785,0.023561&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?ie=UTF8&amp;cid=6550616703043663128&amp;q=Novotel+Luxembourg+Kirchberg&amp;gl=FR&amp;hl=fr&amp;hq=Novotel+Luxembourg+Kirchberg&amp;hnear=&amp;t=m&amp;ll=49.620914,6.145477&amp;spn=0.007785,0.023561&amp;z=15&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
	</div>
</div>