<%= content_for :title do %>
	<h2>Contact us</h2>
<% end %>
<div class="one-third column alpha">
	<span class="icon-phone-squared sz-xs" ></span><strong>Tel</strong>:+352 691 201 974  <br/>
	<span class="icon-mail sz-xs" ></span><strong>Email:</strong> kizombaluxembourg<span>@</span>gmail.com <br/>	
	<span class="icon-facebook sz-xs" ></span><strong><a target ='_blank' href="https://www.facebook.com/kizomba.directionlux?fref=ts">Facebook</strong></a> <br/>	
</div>
<div class="two-thirds column alpha">
    
    <h3 class="title">Contact Form</h3>
    
    <div class="wpcf7">
			<%= form_for @contact do |f| %>
			<p> <%= t('contactname') %> <br /> <span><%= f.text_field :name %> </span></p>
			<p> <%= f.label t('contactemail') %> <br /> <span><%= f.text_field :email %> </span></p>
			<p> <%= f.label t('contactquestion') %> <br /> <span><%= f.text_area :message %> </span></p>
			<p><%= f.submit t('contactsend') %></p>
			<% end %>
    </div>
    
</div>
