
<div class="eleven columns texts-wrap">


    <!-- ========================================== --> 
    <!-- Start Content ============================ -->
    <!-- ========================================== -->   
    
    
	
    <h3 class="title">
    	<%= t 'instructor_performers' %>
    </h3>
    
    
    
    <!-- Gallery -->
    <div id="gallery-1" class="gallery gallery-columns-4">
                  <% for artist in Artist.not_dj %>  
                    <dl class="gallery-item">
                        <dt class="gallery-icon">
                            <a data-rel="prettyPhoto[gallery]" class="prettyPhoto" href="<%= artist.picture %>" title="<%= artist.name %>"><img width="150" height="150" src="<%= artist.picture %>" class="attachment-thumbnail" alt="<%= artist.name %>" /></a>
                        </dt><dd><%= artist.name %></dd>												
                    </dl>
                   <% end %>
                    
                </div>
<div class="gap"></div>
<h3 class="title">
	Dj's
</h3>                 
<div id="gallery-1" class="gallery gallery-columns-4">
              <% for artist in Artist.only_dj %>  
                <dl class="gallery-item">
                    <dt class="gallery-icon">
                        <a data-rel="prettyPhoto[gallery]" class="prettyPhoto" href="<%= artist.picture %>" title="<%= artist.name %>"><img width="150" height="150" src="<%= artist.picture %>" class="attachment-thumbnail" alt="<%= artist.name %>" /></a>
                    </dt><dd><%= artist.name %></dd>												
                </dl>
               <% end %>
                
            </div>    

    <!-- ======================================== --> 
<!-- End Content ============================ -->
<!-- ======================================== -->       
        
</div>	




<div class="five columns blog-sidebar">
	<h3 class="title">
  	<%= t'videos_of_performers' %>
  </h3>
  

    <!-- ======================================== --> 
    <!-- Start Right Sidebar ==================== -->
    <!-- ======================================== -->   
    
    <!-- Youtube Video Widget -->
    <div class="widget">

        <div class="embed">
        	<iframe src="//www.youtube.com/embed/hFWuVwiciWw"></iframe>
        </div>
        
    </div>
    
    <!-- Youtube Video Widget -->
    <div class="widget">

        <div class="embed">
        	<iframe src="//www.youtube.com/embed/u0XAM76iqCo"></iframe>
        </div>
        
    </div>
    
  
    

    <!-- ======================================== --> 
    <!-- End Right Sidebar ====================== -->
    <!-- ======================================== -->       
        
</div>
