<div class="fourteen columns texts-wrap">
	<h3 class="title" style="color: rgb(117, 0, 0); border-color: rgba(117, 0, 0, 0.25);">
		Tickets Price Table<br>
	</h3>
	<div class="styled-table-4">
		<table width="90%">
			<thead>
				<tr>
					<th>
						
					</th>
					<th>
						September
					</th>
					<th>
						October
					</th>
					<th>
						November
					</th>
					<th>
						December
					</th>
					<th>
						January
					</th>
					<th>
						February
					</th>
					<th>
						March
					</th>
					<th>
						April
					</th>
					<th>
						May
					</th>
				</tr>
			</thead>
			<tbody>
				<% for ticket in @prices %>
				<tr>
					<td><b><%= ticket.name %></b></td>
					<td><%= ticket.september_price.downcase %></td>
					<td><%= ticket.october_price.downcase %></td>
					<td><%= ticket.november_price.downcase %></td>
					<td><%= ticket.december_price.downcase %></td>
					<td><%= ticket.january_price.downcase %></td>
					<td><%= ticket.february_price.downcase %></td>
					<td><%= ticket.march_price.downcase %></td>
					<td><%= ticket.april_price.downcase %></td>
					<td><%= ticket.door_price.downcase %></td>
				</tr>
				<% end %>
			
			</tbody>
		</table>
	</div>
</div>