<div class="fourteen columns texts-wrap">
	<h3 class="title" style="color: rgb(117, 0, 0); border-color: rgba(117, 0, 0, 0.25);">
		<%= t('pricingtable') %><br>
	</h3>
	<div class="styled-table-4">
		<table width="90%">
			<thead>
				<tr>
					<th>
						
					</th>
					<th>
						<%= t('september') %>
					</th>
					<th>
						<%= t('october') %>
					</th>
					<th>
						<%= t('november') %>
					</th>
					<th>
						<%= t('december') %>
					</th>
					<th>
						<%= t('january') %>
					</th>
					<th>
						<%= t('february') %>
					</th>
					<th>
						<%= t('march') %>
					</th>
					<th>
						<%= t('april') %>
					</th>
					<th>
						<%= t('may') %>
					</th>
				</tr>
			</thead>
			<tbody>
				<% for ticket in @prices %>
				<tr>
					<td><b><%= ticket.name %></b></td>
					<td><%= ticket.september_price.downcase %></td>
					<td><%= ticket.october_price.downcase %></td>
					<td><%= ticket.november_price.downcase %></td>
					<td><%= ticket.december_price.downcase %></td>
					<td><%= ticket.january_price.downcase %></td>
					<td><%= ticket.february_price.downcase %></td>
					<td><%= ticket.march_price.downcase %></td>
					<td><%= ticket.april_price.downcase %></td>
					<td><%= ticket.door_price.downcase %></td>
				</tr>
				<% end %>
			
			</tbody>
		</table>
		<div class="button">
			<%= link_to raw("<span class='icon-ticket sz-xs' ></span>"+ t('buy_now')), "http://www.weezevent.com/kizombaluxembourg", target: "_blank" %>
		</div>
		<div>
			<br />
			<%= raw t('ticketoption') %>
		</div>
	</div>
</div>