<!-- 
	Lineup:
		- Albir
		- Curtis
		- Tony p
		- Isabelle & Felicien
		- Dilson & Ber
		- Eddy Vents
		- Bonifacio
		- Vasco
		- Na Passada
		- KikiZomba
		
		DJ
		- Barata
		- Madiss
		- Vasco
		- Pingusso
		- Cabo-Boy

	Hotel
	- gallerie photo
	- Adresse
	- maps
	
	Contacts
	 - facebook
	 - formulaire email
-->

<%= content_for :slider do %>
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/images/banniere_3.jpg" alt="" />
			</li>
			
			<li>
				<img src="/images/banniere_1.jpg" alt="" />
			</li>
					<li>
						<img src="/images/banniere_2.jpg" alt="" />
					</li>
			</ul>
	</div><!-- End Flexslider -->
<% end %>
<%= content_for :header do %>
<script type="text/javascript" src='js/jquery.flexslider-min.js?ver=1'></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$('.flexslider').flexslider({
				animation: "slide",
				slideshowSpeed: 5000,
				animationSpeed: 900,
				prevText: "",
				nextText: ""
			});
		});
	</script>
    <!-- End FlexSlider -->  
        
        
        
    <!-- Portfolio carousel -->
    <script type="text/javascript">
	
		jQuery(document).ready(function($) {

			$('#portfolio_carousel').carouFredSel({
				prev: '#prv_portfolio_carousel',
				next: '#nxt_portfolio_carousel',
				responsive: true,
				direction:'left',
				width: '100%',
				scroll:{
					'items':1,
					'easing': 'swing',
					'duration': 1000,
					'pauseOnHover':true
					},
				auto:{
					'timeoutDuration':5000},
				swipe: {
					onMouse: true,
					onTouch: true
						},
				items: {
					visible: {
						min: 1,
						max: 4
					}
				}
			});

		});	
	</script>
    <!-- End Portfolio Carousel -->
<% end %>
<div class="three-thirds column omega">
	<div class="tabswrap vtabs clearfix">
	                            <ul class="tabs">
	                            	<li class="tab"><a href="#panel32421" class="selected"><span class="ibtn icon-comment sz-s"></span><%= t 'welcome' %></a></li>
	                            	<li class="tab"><a href="#panel32422"><span class="ibtn icon-calendar-1 sz-s"></span>Program</a></li>
	                            	<li class="tab"><a href="#panel32423"><span class="ibtn icon-ticket sz-s"></span>Tickets</a></li>
	                            	<li class="tab"><a href="#panel32424"><span class="ibtn icon-thumbs-up sz-s"></span>Venue & accomodation</a></li>
	                            </ul>

	                            <div class="panel" id="panel32421" style="display: block;">
	                    			
														<p><h4>KZL (Kizomba Luxembourg) </h4> presents: The First Kizomba Congress in Luxembourg, from May 2nd to May 4th 2014.</p>

														<p>We will host you in a luxury hotel in the heart of Luxembourg. A key location from where you can admire the splendor of our beautiful city</p>

														<p>Don't miss this chance to improve yourself in Kizomba, Semba and other African dances, and learn  from the best international performers' workshops and shows</p>

														<p><b>Prepare yourselves for a great weekend full of emotions!</b></p>
	                    		</div>

	                    		<div class="panel" id="panel32422" style="display: none;">
															<p>
																<ul>
																	<li><strong>Friday: Opening party & Shows</strong></li>
																	<li><strong>Saturday: Workshops all day then shows & party at night time</strong></li>
																	<li><strong>Sunday: Workshops all day then shows & party at night time</strong></li>
																</ul>
															</p>
	                    		</div>

	                    		<div class="panel" id="panel32423" style="display: none;">
	                    			<p><h5>Current price for the FULL PASS : <%= Ticket.first.september_price %>€ </h5></p>
														<p> <%= link_to "See the entire pricing table", pricing_path %></p>

	                    		</div>
	                    		<div class="panel" id="panel32424" style="display: none;">
	                    			<h4>Venue & Accomodation</h4>
														<p><strong>Novotel Kirchberg 4*</strong></p>
														 <p>
																6 rue Fort Niedergrünewald <br />
												    		Quartier Européen Nord<br />
												    		Plateau de Kirchberg<br />
												    		L-2226 LUXEMBOURG<br />
																<strng><%= link_to "Hotel details", hotel_path %></strong>
												    	</p>
	                    		</div>
	                        </div>
	
</div>
<div class="gap gap20 clearfix"></div>
<div class="clearfix">
                            <div id="portfolio-carousel" class="portfolio-carousel">
                                
                                <h3 class="title">Instructors & Performers</h3>
                                
                                <div class="nxt" id="nxt_portfolio_carousel"> &#xe850;</div>
                                <div class="prv" id="prv_portfolio_carousel"> &#xe84f;</div>
                                
                    
                                <ul id="portfolio_carousel" class="portfolio pc_carousel p4col">
             
                                <% for artist in Artist.all %>
																	<li>
															                                        <div class="portfolio-thumb thumb-p4col">
															                                            <a title="<%= artist.name %>" data-rel="prettyPhoto[portfolio]" class="prettyPhoto zoom " href="<%= artist.picture %>">
															                                            <img alt="" src="<%= artist.picture %>">
															                                            <div class="overlay"><span class="ov-lb"></span></div>
															                                            </a>
															                                        </div>
																																		<!--		
															                                        <div class="portfolio-info info-p4col">
															                                            <a class="portfolio-title" title="Modeling" href="#">
															                                                <h3 class="title"><%= artist.name %></h3>
															                                            </a>
															                                            <div class="portfolio-types">
															                                                <%= artist.country %>
															                                            </div>
															                                        </div>
																																			-->
															                                    </li>
																<% end %>
                                                
                                </ul>
                            </div>
                     </div>